:root {
	--black: #171717;
	--dark-gray: #878287;
	--gray: #c1bec1;
	--light-gray: #edeced;
	--white: #fbfbfb;

	--red: #ff5768;
	--orange: #ffb347;
	--blue: #55aaff;
	--purple: #a29bfe;
}

html { scroll-behavior: smooth; }

body {
	background-color: var(--white);
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', Calibri, sans-serif;
	font-size: calc(15px + 0.390625vw);
	color: var(--black);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

body.no-scroll {
    position: fixed;
    width: 100%;
    overflow: hidden;
}

.collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease;
}

.expand { max-height: 20vh; }

#about { margin-top: 2rem; text-align: left; max-width: 60rem; }

/* --- NAVIGATION BAR --- */

nav { margin: 0px 18px; }

nav ul {
	display: flex;
	justify-content: right;
	list-style-type: none;
	text-decoration: none;
	margin: 18px 0 0 0;
}

nav ul li a {
	font-size: 1rem;
	font-weight: 600;
	text-decoration: none;
	color: var(--black);
	position: relative;
	float: left;
	padding: 18px;
	transition: all 0.1s ease-in-out;
}

nav ul li a::before {
	content: "";
	position: absolute;
	bottom: 3px;
	left: 50%; 
	transform: translateX(-50%); 
	width: 0; 
	height: 3px; 
	transition: width 0.3s ease; 
	background: var(--black);
}

nav ul li a:hover { transform: translateY(-5px); }
nav ul li a:hover::before { width: 80%; }


@media (max-width: 600px) {
	nav ul { justify-content: center; }
}



/* --- PAGE FOOTER --- */

footer {
	display: flex;
	justify-content: center;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: var(--black);
	color: var(--white);
}

footer a {
	font-size: 1rem;
	list-style-type: none;
	text-decoration: none;
	margin: 1.5rem;
	color: var(--white);
}

footer a:hover { text-decoration-line: underline; }

footer a i {
	margin-right: 1.5rem;
	font-size: 1.4rem;
}



/* --- MAIN CONTENT --- */

#main {
	display: flex;
	justify-content: column;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#sidebar {
	flex: 1;
}

md-block {
	flex: 3;
}

#title {
	flex: 3;
}

#title h1 {
	display: inline-block;
	font-size: 6rem;
	margin: 0;
	transition: all .3s ease;
}

#title h1:hover { font-size: 7rem; }

#title h2 {
	font-size: 2rem;
	font-weight: 600;
	text-align: center;
	margin: 0;
	margin-top: 10vh;
	transition: all .3s ease;
}

@media (max-width: 1000px) {
    #title h1 { font-size: 3rem; }
    #title h1:hover { font-size: 3rem; }
    #title h2 { font-size: 1.5rem; }
}

#title h3 {
	font-size: 1.5rem;
	font-weight: 600;
	text-align: center;
	margin: 0;
	margin-top: 10vh;
}

#title p {
	color: var(--dark-gray);
	margin: 0;
	margin-top: 2vh;
	margin-right: 2rem;
	margin-left: 2rem;
}

#goto-items li {
	display: inline-block;
	border: 3px solid var(--black);
	color: var(--black);
	border-radius: 5px;
	padding: 0.6rem;
	margin-left: 0.3%;
	margin-right: 0.3%;
	transition: all 0.3s ease-out;
}

#goto-items li a {
	text-decoration: inherit;
	cursor: auto;
}

#goto-items li a p { 
	margin: 0;
	font-size: 1rem;
	font-weight: 600;
	color: var(--black);
}

#goto-items li::before {
	content: "";
	position: absolute;
	bottom: -3px;
	left: 50%; 
	transform: translateX(-50%); 
	width: 0; 
	height: 3px; 
	transition: width 0.3s ease; 
}

#goto-items li:nth-child(1)::before { background: var(--blue); }
#goto-items li:nth-child(2)::before { background: var(--orange); }
#goto-items li:nth-child(3)::before { background: var(--red); }

#goto-items li:hover { transform: translateY(-5px); }
#goto-items li:hover::before { width: 80%; }




/* --- PROJECTS --- */

#projects {
	background: var(--light-gray);
	text-align: center;
	margin: auto;
	margin-top: 20rem;
    display: grid;
	width: 100%;
    place-items: center center;
    box-sizing: border-box;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

#projects h2 {
	font-size: 4rem;
	font-weight: 700;
	text-align: center;
	margin: 0;
	margin-top: 10vh;
	transition: all .3s ease;
}

#projects p {
	color: var(--dark-gray);
	margin: 0;
	margin-top: 1rem;
	margin-bottom: 3rem;
}

@media (max-width: 1000px) {
    #projects h2 { font-size: 3rem; }
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px;
    grid-gap: 40px;
	margin: 0 2rem 2rem 2rem;
}

.card {
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
	text-decoration: none;
	transition: all 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.3);
}

.container {
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
	overflow: hidden;

}

.container img {
    width: 100%;
    display: block;
    border-radius: 1rem 1rem 0 0;
	min-height: 200px;
	max-height: 200px;
    object-fit: cover;
}

.details { padding: 1rem 1rem; }

.details h3 {
	color: var(--black);
	font-size: 1.5rem;
	font-weight: 600;
    margin: 0;
}

.details p {
	text-align: left;
    color: var(--dark-gray);
    font-size: 1rem;
    line-height: 30px;
    font-weight: 400;
}



/* --- BACKGROUND GRID --- */

@-webkit-keyframes bg-scrolling-reverse { 100% { background-position: 50px 50px; } }
@-moz-keyframes bg-scrolling-reverse { 100% { background-position: 50px 50px; } }
@-o-keyframes bg-scrolling-reverse { 100% { background-position: 50px 50px; } }
@keyframes bg-scrolling-reverse { 100% { background-position: 50px 50px; } }
@-webkit-keyframes bg-scrolling { 0% { background-position: 50px 50px; } }
@-moz-keyframes bg-scrolling { 0% { background-position: 50px 50px; } }
@-o-keyframes bg-scrolling { 0% { background-position: 50px 50px; } }
@keyframes bg-scrolling { 0% { background-position: 50px 50px; } }

body::before {
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
	z-index: -100;
	opacity: 0.1;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyAQMAAAAk8RryAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAAJwAAACcBKgmRTwAAAAZQTFRFAAAA////pdmf3QAAABVJREFUeJxjZIAAxvoGEHVwlB5YGgDfUVXzinBXxAAAAABJRU5ErkJggg==") repeat 0 0;
	-webkit-animation: bg-scrolling-reverse 0.92s infinite;
	-moz-animation: bg-scrolling-reverse 0.92s infinite;
	-o-animation: bg-scrolling-reverse 0.92s infinite;
	animation: bg-scrolling-reverse 0.92s infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-o-animation-timing-function: linear;
	animation-timing-function: linear;
}

/* @keyframes move-it { */
/* 0% { */
/* 	background-position: initial; */
/* } */
/* 100% { */
/* 	background-position: 200px 0px; */
/* } */
/* } */
/**/
/* body {   */
/* 	background:  */
/* 		repeating-linear-gradient( */
/* 			-45deg, */
/* 			transparent, */
/* 			transparent 9%, */
/* 			var(--light-gray) 9.5%, */
/* 			var(--light-gray) 10% */
/* 			); */
/* 	background-size: 200px 200px; */
/* 	animation: move-it 2s linear infinite; */
/* } */
