:root {
  --black: #171717;
  --dark-gray: #979197;
  --gray: #c1bec1;
  --light-gray: #edeced;
  --white: #fbfbfb;

  --accent: #4198ee;
  --red: #ff5768;
  --orange: #ffb347;
  --blue: #55aaff;
  --purple: #a29bfe;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  font-family: 'Montserrat', Calibri, sans-serif;
  margin: 0;
  padding: 0;
}

li {
  color: var(--dark-gray);
}

ul {
  color: var(--dark-gray);
}

.background {
  background-color: var(--light-gray);
}

.content {
  max-width: 80%;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content p {
  color: var(--dark-gray);
}

.fade-in {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}



/* --- NAVIGATION BAR --- */

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
}


nav ul:last-child {
  margin-right: 5%
}

/* Navbar container */
.navbar {
  overflow: hidden;
}

/* Links inside the navbar */
.navbar a {
  font-size: 1vw;
  font-weight: 600;
  color: var(--black);
  text-decoration: none;
  float: left;
  padding: 1vw 1vw;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 1vw;
  font-weight: 600;
  color: var(--black);
  text-decoration: none;
  border: none;
  outline: none;
  padding: 1vw 1vw;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  transition: all 0.1s ease-in-out;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  transform: translateY(-10%);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white);
  min-width: 160px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: var(--black);
  padding: 15px 20px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-radius: 10px;
}

.dropdown-content a:hover {
  background-color: var(--orange);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.extra-navbar {
  display: block;
}

.social-icons li { 
  margin: 0;
  margin-right: 20px;
}

.social-icons li a {
  color: var(--black);
  transition: all 0.1s ease-in-out;
}

.social-icons li a:hover {
  transform: translateY(-20%);
}



/* --- MAIN CONTENT --- */

main h1 {
  font-size: 4vw;
  font-weight: 500;
  margin: 0px;
  margin-bottom: 20px;
}

main h2 {
  font-size: 3vw;
  font-weight: 500;
  margin: 0px;
  margin-top: 50px;
  margin-bottom: 10px;
}

main h3 {
  font-size: 2vw;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}

main h4 {
  font-size: 1vw;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

main p {
  font-size: 1vw;
  font-weight: 500;
  color: var(--dark-gray);
}



/* --- TITLE CONTENT --- */

.title {
  transform: translateY(50px);
  text-align: left;
  display: block;
  opacity: 0;
  transition: all 0.1s ease-out;
}

.title h1 {
  font-size: 4vw;
  font-weight: 700;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title h2 {
  font-size: 2vw;
  font-weight: 500;
  margin: 0px;
}

.title-row {
  display: flex;
  align-items: center;
}

.title-row img {
  max-width: 15vw;
  margin-left: 100px;
}



/* --- IMAGE STUFF --- */

.image-row {
  display: flex;
}

.image-row img {
  height: 20%;
  width: 20%;
}

.image-single {
  text-align: center;
}

.single-image {
  max-width: 15vw;
}



/* --- CONTAINER CSS --- */

.container-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  border-radius: 20px;
  background-color: var(--white);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  margin: 1%;
  flex: 1;
  display: block;
  text-decoration: none;
  padding: 2%;
  text-align: left;
  color: inherit;
  opacity: 0;
  cursor: pointer;
  transform: translateY(50px);
  transition: all 0.3s ease-out, flex 0.3s ease-out;
}

.container.expanded {
  transform: scale(1.05) !important;
}

.animate {
  opacity: 1;
  transition: opacity 0.1s ease-out, transform 0.1s ease-out;
}

.container h1 {
  text-align: center;
  margin: 0;
}

.container h3 {
  text-align: center;
  margin: 0;
}

.container p {
  color: var(--dark-gray);
  margin: 0;
}

.goto-items {
  text-align: center;
}

.goto-items li {
  display: inline-block;
  border: 3px solid var(--black);
  border-radius: 5px;
  padding: 10px;
  margin-left: 0.3%;
  margin-right: 0.3%;
  transition: all 0.1s ease-out;
}

.goto-items li:hover {
  transform: scale(1.1);
}

.goto-items li a {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

.goto-items li a p {
  color: var(--black);
}


/* -- CONTACT INFORMATION STYLE --- */

form { max-width: 50%; margin: auto; margin-top: 5vh; margin-bottom: 20vh; }

.feedback-input {
  color: var(--black);
  font-family: 'Montserrat', Calibri, sans-serif;
  font-weight:500;
  font-size: 1vw;
  border-radius: 5px;
  line-height: 22px;
  border: 3px solid var(--black);
  transition: all 0.3s;
  padding: 1vh;
  margin-bottom: 2vh;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border: 3px solid var(--orange); }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  width: 100%;
  background:var(--black);
  border-radius:5px;
  border:0;
  cursor:pointer;
  color: var(--light-gray);
  font-family: 'Montserrat', Calibri, sans-serif;
  font-size: 1vw;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight: 600;
}
[type="submit"]:hover { background: var(--orange); }



/* --- PAGE FOOTER --- */

.site-footer {
  background-color: var(--black);
  color: var(--white);
  padding: 1%;
  font-size:1.5vw
}

.site-footer a {
  color: var(--white);
}

.text-center {
  text-align: center;
}

/* --- Small Sizing --- */

@media (max-width: 800px) {

  nav {
    justify-content: center;
  }

  .navbar a {
    font-size: 3vw;
  }

  .dropdown .dropbtn {
    font-size: 3vw;
  }

  .extra-navbar {
    display: none;
  }

  .title-row {
    flex-direction: column;
  }

  .title-row img {
    margin-top: 50px;
    height: 30%;
    width: 30%;
    margin-left: 100px;
  }

  .title h1 {
    font-size: 8vw;
    text-align: center;
  }

  .title h2 {
    font-size: 7vw;
    text-align: center;
  }

  main h1 {
    font-size: 20vw;
    font-weight: 500;
    margin: 0px;
    margin-bottom: 20px;
  }
  
  main h2 {
    font-size: 7vw;
    font-weight: 500;
    margin: 0px;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  
  main h3 {
    font-size: 8vw;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  main h4 {
    font-size: 5vw;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  main p {
    font-size: 5vw;
    font-weight: 500;
    color: var(--dark-gray);
  }

  .container {
    padding: 9vw;
    margin-bottom: 5vh;
  }

  .container-row {
    flex-direction: column;
  }

  form { max-width: 100%; margin: auto; margin-top: 5vh; margin-bottom: 20vh; }

  .feedback-input {
    font-size: 3vw;
  }

  [type="submit"] {
    font-size: 3vw;
  }

  .site-footer {
    font-size:5vw
  }
}