@import "tailwindcss";

:root {
  --font-sans: var(--font-geist-sans, "geist"), Arial, Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono, "geist mono"), monospace;
}

@theme inline {
  --font-sans: var(--font-geist-sans, "geist");
  --font-mono: var(--font-geist-mono, "geist mono"), monospace;

  --color-bg: #fff;
  --color-bg-2: #e5e6e7;
  --color-fg: #101010;
  --color-fg-2: #7a7e83;
  --color-fg-3: #bbb;

  --color-red: #da3633;
  --color-red-2: #cf2926;
  --color-green: #00c756;
  --color-green-2: #00ac8e;
  --color-blue: #0096f5;
  --color-blue-2: #4971fc;
  --color-blue-3: #315efc;
  --color-yellow: #ffb347;

  --color-border: var(--color-bg-2);
  --color-pre: var(--color-bg-2);
  --color-code: var(--color-bg-2);

  --shadow-default: 0 6px 32px rgba(0, 0, 0, 0.1);
  --shadow-subtle: 0 3px 12px rgba(0, 0, 0, 0.1);

  /* Animations */
  --animate-fade-up: fade-up 0.1s ease-out forwards;
  @keyframes fade-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

html {
  font-family: var(--font-geist-sans), arial, helvetica, sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  overscroll-behavior: none;
  overflow-x: hidden;

  /* Scrollbar stuff (thanks gpt) */
  scrollbar-color: var(--color-bg-2) transparent;
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-bg-2);
    border-radius: 4px;
  }
}

::selection {
  background-color: var(--color-blue-3, #315efc);
  color: var(--color-bg, #ffffff);
}

@layer base {
  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  h3 {
    @apply text-lg font-semibold;
  }

  strong {
    @apply font-semibold;
  }

  blockquote {
    @apply border-l-4 border-border pl-8;
  }

  code {
    @apply text-sm;
  }
}

code {
  font-family: var(--font-geist-mono, "geist mono"), monospace;
  background-color: var(--color-code);
  border-radius: 0.25rem;
  padding: 0.125rem 0.25rem;
}

pre {
  font-family: var(--font-geist-mono, "geist mono"), monospace;
  background-color: var(--color-pre);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  overflow: auto;
}

pre code {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
}

hr {
  border-color: var(--color-border);
  margin: 3rem 0;
}

ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}
